<div id="pageTitle">
	<h1>Activities BB</h1>
</div>


<div id="toolbar">
    <%= link_to "New", :action => :new %>
    <%= link_to "Home", RhoConfig::start_path %>
</div>

<div id="content">
  <table>
    <tr>
    <% @activities.each do |obj| %>
    	
    	    <td class="recordLabel"><%=obj.description%></td>
    	
    <% end %>
    </tr>
  </table>
</div>